
<!DOCTYPE html>
<html>
<body>
  <center>
    <h2>Add Users</h2>
 </center>
 <!--Step 1 : Adding HTML-->
 <form action="/save-user" method="post">
    

    <div class="container">
        <center>
        <label><b>Email</b></label>
        <input type="email" placeholder="Enter email" name="email" required></br>
    <!-- <center>
        <label><b>Full Name</b></label>
        <input type="text" placeholder="Enter fullname" name="full_name" required></br>
        <center>
            <label><b>User Name</b></label>
            <input type="text" placeholder="Enter username" name="username" required></br>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required></br>
        <center> -->
        </br>
        <button type="submit">Save</button></br>
        
    </center>
       
    </div>

    
</form>
<script type="text/javascript">
    window.history.forward();
    function noBack() {
        window.history.forward();
    }
</script>
</body>
  
</html>