
<!DOCTYPE html>
<html>
<style>
   button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 10%;
        text-align: center;
    }
    table, th, td {
  border: 1px solid black;
}
</style>
  
<body>
  <center>
    <h2>Users</h2>
 </center>
 <!--Step 1 : Adding HTML-->
  <table style="width: 80%;",>
        <thead>
          <tr>
            <th scope="col">_id</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>           
          </tr>
        </thead>
        <tbody>
            <% users.forEach(function(user) { %>
            <tr>
                <!-- <th scope="row">1</th> -->
                <td><%=  user._id   %></td>
                <td><%=  user.username   %></td>
                <td><%=  user.email   %></td>               
            </tr>
          <% }); %>
        </tbody>
      </table>
    </br>
     <button type="button" style="width: 20%;"><a href="/add-user">add user</a> </button> </br>
      <button type="button" style="width: 20%;">remove user</button>


      <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>
</body>
  
</html>